:root {
  --base-100: rgb(241, 241, 241);
  --base-200: rgb(220, 220, 220);
  --base-300: rgb(192, 192, 192);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial;
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

input,
select,
input::placeholder {
  font-family: inherit;
  font-size: inherit;
}

.card {
  border-radius: 2.5px;
  border: 1px solid rgb(219, 219, 219);
  padding: 20px;
  margin: auto;
}

hr {
  border-top: 1px solid var(--base-300); /* or --base-300 for more contrast */
  margin: 0;
}

a {
	text-decoration: none;
	
}

li {
	padding: 5px;
}

.display-none {
  display: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.bg-base-100 {
  background-color: var(--base-100);
}

.bg-base-200 {
  background-color: var(--base-200);
}

.bg-base-300 {
  background-color: var(--base-300);
}

.text-base-100 {
  color: var(--base-100);
}

.text-base-200 {
  color: var(--base-200);
}

.text-base-300 {
  color: var(--base-300);
}

.border-base-100 {
  border-color: var(--base-100);
}

.border-base-200 {
  border-color: var(--base-200);
}

.border-base-300 {
  border-color: var(--base-300);
}

.border {
  border: 1px solid var(--base-300);
}

.w-half {
  width: 50%;
}

.w-third {
  width: 33%;
}

.pb-10 {
  padding-bottom: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-6 {
  padding-bottom: 6px;
}

.pt-6 {
  padding-top: 6px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mt-6 {
  margin-top: 6px;
}


.form-control {
  width: 100%;
  border: 1px solid rgb(192, 192, 192);
  padding: 6px 5px;
}

.form-group {
  width: 100%;
  padding-bottom: 10px;
}

.btn {
  padding: 5px;
  font-size: inherit;
  border: 1px solid rgb(192, 192, 192);
  width: 25%;
}

.action-btn {
  width: 50px !important;
}

.btn:hover {
  background-color: rgb(234, 234, 234);
}

.hover-red:hover {
  background-color: rgb(195, 62, 62);
  color: white;
}

.hover-purple:hover {
  background-color: rgb(173, 77, 173);
  color:white;
}

.float-right {
  float: right;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.self-center {
  align-self: center;
}

.text-sm {
  font-size: 12px;
}

.text-md {
  font-size: 14px;
}

.text-lg {
  font-size: 18px;
}

.table {
  width: 100%;
  padding: 20px 0;
}

.table-responsive {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 6px 8px;
  text-align: left;
  border: 0;
}

.alert {
  background-color: rgb(243, 212, 173);
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.table th:first-child {
  border-top-left-radius: 4px;
}

.table th:last-child {
  border-top-right-radius: 4px;
}

thead {
  background-color: rgb(21, 113, 193);
  color: white;
}

tbody tr:nth-child(even) {
  background-color: rgb(242, 242, 242);
}

tbody tr:nth-child(odd) {
  background-color: rgb(231, 231, 231);
}

tbody tr:hover {
  background-color: rgb(192, 192, 192);
}

